@model List<demoApp0818.Models.Book>

@{
    ViewData["Title"] = "Home";
}

@section Styles {
    <link rel="stylesheet" href="~/css/cart.css" />
}

@section Scripts {
    <script src="~/js/cart.js"></script>
}

<div class="d-flex justify-content-between ">
    <h1>Book Table (Cart)</h1>

    <button type="button" class="btn btn-primary" >
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-plus-fill" viewBox="0 0 16 16">
            <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1M8.5 7v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 1 0" />
        </svg>
  
        @* <a  asp-area="" asp-controller="Home" asp-action="AddBook">Add Book</a> *@
    </button>

 
</div>


<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Price </th>
            <th scope="col">Category </th>
            <th scope="col">detagil</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var value in Model)
        {
            <tr>
                <th scope="row">1</th>
                <td>@value.Title </td>
                <td>@value.Author </td>
                <td>@value.Price </td>
                <td>@value.Category </td>
                <td> 
                    <a class="nav-link text-dark" 
                    asp-area="" 
                    asp-controller="Home"
                       asp-action="details" asp-route-id="@value.BookId">
                    
                    view
                </a>
                </td>
                <td>
                    <button id="delete-btn" data-id ="@value.BookId" >click me</button>
                </td>

                
            </tr>
        }

        </tbody>
</table>
<script>



	var buttons = document.querySelectorAll("#delete-btn")
	buttons.forEach(btn => {
		btn.addEventListener("click", function () {

			var id = this.getAttribute("data-id");
             const row = this.closest('tr');
			console.log('click id = ',id)
            if(confirm(`Do you want to delete id =  ${id}`))
            {
                fetch(`/Home/DeleteRecord/${id}`, {
                        method: 'DELETE' // Specifies the DELETE HTTP method
                    })
                    .then(response => {
                        if (response.ok) {
                            // If deletion is successful, remove the row from the DOM
                            row.remove();
                            // e.target.remove()
                        } else {
                            // If deletion fails, alert the user
                            alert('Deletion failed.');
                        }
                    })
                    .catch(error => console.error('Error:', error));
				
            }
            else{
				
            }
		})
	})

</script>
